<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

<%- include('./partials/header') %>

  <body>
    <section class="banner">
      <img class="banner" src="images/banner2.jpg" alt="banner" />
    </section>
    <% products.forEach(product => { %> 

      <div class="productos">
        <article class="articulos">
          <a href="/productDetail/<%= product.id %>">        
            <div class="titulares">
              <p><%= product.name %></p>
            </div>
            <img src="/images/<%= product.image %>" alt="bolsas" class="imagenes" />
          </a>
        </article>
      </div>

    <% }) %>

    

    <section>
      <h1>Nosotros</h1>
      <p>
        Somos una empresa familiar fundada hace 60 años en Ringuelet, La Plata.
        Sus comienzos fueron en el garaje de una casa. Se comenzó con una sola
        maquina de bolsas de papel formato fondo americano, en calidades Kraft y
        sulfito para panadería y confitería. En el año 1963 nos trasladamos a la
        calle 511 e/ 12 y 13, donde actualmente continuamos trabajando con la
        tercera generación.
      </p>
    </section>
  </body>
  <%- include('./partials/footer') %>

</html>

<!-- test v4-->
