<%- include('./partials/head') %>

<%- include('./partials/header') %>

<section class="edit">
<h1>Editar producto</h1>


    <form action="/products/edit/<%= editarProducto.id %>" method="POST" enctype="multipart/form-data" >
    
    <label for="name">Nombre:</label>
    <input type="text" name="name" id="name" value="<%= editarProducto.name %>">

    <label for="description">Descripción:</label>
    <input type="text" name="description" id="description" value="<%= editarProducto.description %>">

    <label for="price">Precio:</label>
    <input type="number" name="price" id="price" value="<%= editarProducto.price %>">
<br>
	<label for="image">Adjunta una imagen</label>
						<input type="file" name="image" id="image" value="<%= editarProducto.image %>">>
                        <br>  >


    <button type="submit">Editar</button>

</form>
</section>

<%- include('./partials/footer') %>