<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Formulario de Registro</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/ff8b422c2c.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="/css/stylesRegistrateLogin.css">
    
    </head>

    <%- include('./partials/head') %>

<%- include('./partials/header') %>

<body>

<div class="formulario-de-registro">
    <h2 class="titulo-form">¿No tenes tu cuenta? Registrate</h2>
<p class="parrafo-form">Registrarse tarda solo unos segundos y otorga acceso a todo nuestro catálogo</p>
</div>
</div>
<div class="errores">
    <ul></ul>
</div>
<form action="/user/register" method="POST"  enctype="multipart/form-data">

    <div class="field">
        <label for="firstName">Nombre</label>
        <div class="control">
            <input 
            type="text" 
            name="firstName" 
            class="control <%= locals.errors && errors.firstName ? 'is-invalid' : null %>"
            value="<%= locals.oldData ? oldData.firstName : null %>"
        >
        <% if (locals.errors && errors.firstName) { %>
            <div class="text-danger">
                <%= errors.firstName.msg %>
            </div>
        <% } %>  	
</div>
        </div>
        <p class="feedback"></p>
    </div>

     <div class="field">
        <label for="lastName">Apellido</label>
        <div class="control">
            <input 
            type="text" 
            name="lastName" 
            class="control <%= locals.errors && errors.lastName ? 'is-invalid' : null %>"
            value="<%= locals.oldData ? oldData.lastName : null %>"
        >
        <% if (locals.errors && errors.lastName) { %>
            <div class="text-danger">
                <%= errors.lastName.msg %>
            </div>
        <% } %>
</div>
        </div>
        <p class="feedback"></p>
    </div>

    <div class="field">
        <label for="email">Email</label>
        <div class="control">
            <input 
            type="text" 
            name="email" 
            class="control <%= locals.errors && errors.email ? 'is-invalid' : null %>"
            value="<%= locals.oldData ? oldData.email : null %>"
        >
        <% if (locals.errors && errors.email) { %>
            <div class="text-danger">
                <%= errors.email.msg %>
            </div>
        <% } %>
</div>
        </div>
        <p class="feedback"></p>
    </div>

    <div class="field">
        <label for="password">Password</label>
        <div class="control">
            <input 
            type="password" 
            name="password" 
            class="control <%= locals.errors && errors.password ? 'is-invalid' : null %>"
        >
        <% if (locals.errors && errors.password) { %>
            <div class="text-danger">
                <%= errors.password.msg %>
            </div>
        <% } %>
</div>
        </div>
        <p class="feedback"></p>
    </div>

    <div>
        <label><b>Imagen de perfil</b></label>
        <input 
        type="file" 
        name="avatar"
        class="control <%= locals.errors && errors.avatar ? 'is-invalid' : null %>"
    >
    <% if (locals.errors && errors.avatar) { %>
        <div class="text-danger">
            <%= errors.avatar.msg %>
        </div>
    <% } %>
    </div>

    <div class="field">
        <label for="category">Categoría</label>
        <div class="control">
            <select name="category" id="category" class="control">
                <option value="">Seleccione una opción</option>
                <option value="vendedor">Vendedor</option>
                <option value="comprador">Comprador</option>
            </select>
        </div>
        <p class="feedback"></p>
    </div>

 
    <div class="field">
        <div class="control">
            <button type="submit" class="control"><p class="crearUsuario">Crear usuario</p></button>
        </div>
    </div>

 </form>
 <script src="/js/register.js"></script>
 
 <%- include('./partials/footer') %>

 </body>
 </html>